# Ignore build outputs
bin/
obj/

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore temporary files
*.log
*.tlog
*.tmp
*.temp
*.cache

# Ignore compiled files
*.dll
*.exe
*.pdb
*.cache
*.ilk
*.lib
*.ncb
*.sbr
*.sdf
*.unsuccessfulbuild

# Ignore Rider / Visual Studio Code files
.idea/
.vscode/

# Ignore package manager files
node_modules/
*.lock
*.npm

# Ignore database files
*.mdf
*.ldf

# Ignore sensitive files (Add specific secrets file here if applicable)
secrets.json

# Ignore other IDE-related files
*.vs/
