.person-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 10%;
  }
  
  h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .person-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .person-card {
    width: 300px;
    margin: 10px;
  }
  