/* עיצוב הכלל של הדיאלוג */
h1 {
    text-align: center;
    font-size: 1.5em;
    color: #333;
  }
  
  .mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  textarea {
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
  }
  
  .mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  button {
    min-width: 100px;
  }
  
  .full-width {
    width: 100%;
  }
  