<mat-card class="guy-card" style="background-color: #e3f2fd; border-radius: 10px; margin: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
  <mat-card-header>
    <div mat-card-avatar class="guy-avatar" [ngStyle]="{'background-image': 'url(' + (guy?.img || 'default-image.jpg') + ')'}"></div>
    <mat-card-title>{{ guy?.firstName }} {{ guy?.lastName }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p><strong>תאריך לידה:</strong> {{ guy?.birthday }}</p>
    <p><strong>גובה:</strong> {{ guy?.height }} ס"מ</p>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>פרטים נוספים</mat-panel-title>
      </mat-expansion-panel-header>
      <p><strong>שם אב:</strong> {{ guy?.fatherName }}</p>
      <p><strong>שם אם:</strong> {{ guy?.motherName }}</p>
      <p><strong>מוצא:</strong> {{ getMotzaName(guy?.motza) }}</p>
      <p><strong>הערה:</strong> {{ guy?.remark || 'לא צויין' }}</p>
      <p><strong>קורות חיים:</strong> {{ guy?.resume || 'לא צויין' }}</p>
    </mat-expansion-panel>
  </mat-card-content>
</mat-card>