/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    opacity: 1;
    background: linear-gradient(to right, #3dfcd994, #08ad4a3c, #ff00773b)
    !important;}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 1;
    background: linear-gradient(to right, #00ffd04b, rgba(255, 116, 160, 0.655), #93fff24a)
    !important;
}