<div class="form-container">
  <h2>הוספת פרסון</h2>
  <div class="form-group">
    <label for="personType">בחר סוג אדם:</label>
    <select id="personType" [(ngModel)]="personType">
      <option value="Guy">בחור</option>
      <option value="Girl">בחורה</option>
    </select>
  </div>

  <div *ngIf="personType === 'Guy'">
    <div class="form-group">
      <label for="firstName">שם פרטי:</label>
      <input id="firstName" [(ngModel)]="guy.firstName" />
    </div>

    <div class="form-group">
      <label for="lastName">שם משפחה:</label>
      <input id="lastName" [(ngModel)]="guy.lastName" />
    </div>

    <div class="form-group">
      <label for="birthday">תאריך לידה:</label>
      <input id="birthday" type="date" [(ngModel)]="guy.birthday" />
    </div>

    <div class="form-group">
      <label for="fatherName">שם האב:</label>
      <input id="fatherName" [(ngModel)]="guy.fatherName" />
    </div>

    <div class="form-group">
      <label for="motherName">שם האם:</label>
      <input id="motherName" [(ngModel)]="guy.motherName" />
    </div>

    <div class="form-group">
      <label for="height">גובה:</label>
      <input id="height" type="number" [(ngModel)]="guy.height" />
    </div>

    <div class="form-group">
      <label for="motza">מוצא:</label>
      <select id="motza" [(ngModel)]="guy.motza">
        <option [ngValue]="Motza.Ashcenaz">אשכנז</option>
        <option [ngValue]="Motza.Sfarad">ספרד</option>
        <option [ngValue]="Motza.Chasid">חסיד</option>
        <option [ngValue]="Motza.Teman">תימן</option>
      </select>
    </div>

    <div class="form-group">
      <label for="vaad">ועד:</label>
      <input id="vaad" type="number" [(ngModel)]="guy.vaad" />
    </div>

    <div class="form-group">
      <label for="img">תמונה:</label>
      <input id="img" type="file" (change)="onImageChange($event)" />
    </div>

    <div class="form-group">
      <label for="resume">קורות חיים:</label>
      <input id="resume" type="file" (change)="onResumeChange($event)" />
    </div>
  </div>

  <div *ngIf="personType === 'Girl'">
    <div class="form-group">
      <label for="firstName">שם פרטי:</label>
      <input id="firstName" [(ngModel)]="girl.firstName" />
    </div>

    <div class="form-group">
      <label for="lastName">שם משפחה:</label>
      <input id="lastName" [(ngModel)]="girl.lastName" />
    </div>

    <div class="form-group">
      <label for="birthday">תאריך לידה:</label>
      <input id="birthday" type="date" [(ngModel)]="girl.birthday" />
    </div>

    <div class="form-group">
      <label for="fatherName">שם האב:</label>
      <input id="fatherName" [(ngModel)]="girl.fatherName" />
    </div>

    <div class="form-group">
      <label for="motherName">שם האם:</label>
      <input id="motherName" [(ngModel)]="girl.motherName" />
    </div>

    <div class="form-group">
      <label for="height">גובה:</label>
      <input id="height" type="number" [(ngModel)]="girl.height" />
    </div>

    <div class="form-group">
      <label for="motza">מוצא:</label>
      <select id="motza" [(ngModel)]="girl.motza">
        <option [ngValue]="Motza.Ashcenaz">אשכנז</option>
        <option [ngValue]="Motza.Sfarad">ספרד</option>
        <option [ngValue]="Motza.Chasid">חסיד</option>
        <option [ngValue]="Motza.Teman">תימן</option>
      </select>
    </div>

    <div class="form-group">
      <label for="subject">מקצוע:</label>
      <input id="subject" [(ngModel)]="girl.subject" />
    </div>

    <div class="form-group">
      <label for="yearbook">שנתון:</label>
      <input id="yearbook" type="number" [(ngModel)]="girl.yearbook" />
    </div>

    <div class="form-group">
      <label for="img">תמונה:</label>
      <input id="img" type="file" (change)="onImageChange($event)" />
    </div>

    <div class="form-group">
      <label for="resume">קורות חיים:</label>
      <input id="resume" type="file" (change)="onResumeChange($event)" />
    </div>
  </div>

  <button class="submit-button" (click)="onSubmit()">שלח</button>
</div>