<nav class="navbar mat-elevation-z4">
  <mat-toolbar color="primary">
    <div class="toolbar-content">
      <a mat-button routerLink="/" routerLinkActive="active">
        <mat-icon class="home-icon">home</mat-icon> בית
      </a>
      <a mat-button routerLink="/person" routerLinkActive="active">
        <mat-icon class="person-icon">person</mat-icon> רווקים
      </a>
      <a mat-button routerLink="/ideas" routerLinkActive="active">
        <mat-icon class="ideas-icon">lightbulb</mat-icon> רעיונות
      </a>
      <a mat-button routerLink="/add" routerLinkActive="active">
        <mat-icon class="add-icon">add</mat-icon> חדש
      </a>
    </div>
  </mat-toolbar>
</nav>
