.navbar {
    display: flex;
    justify-content: center;
    background-color: #76767670;
    padding: 2rem;
    position: fixed;
    width: 100%;
    top:0
  }
  
  .navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .navbar a:hover {
    color: #ffcc00; /* צבע הדגשה */
  }
  
  .navbar a.active {
    color: #ff6600; /* צבע קישור פעיל */
  }

  