/* עיצוב navbar */
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 12;
  margin-bottom: 5%;
}

/* עיצוב ה-toolbar */
mat-toolbar {
  background-color: #86c2f3; /* צבע כחול מודרני */
  color: white;
  padding: 1.5rem 0;
  display: flex;
  justify-content: center; /* מרכז את התוכן */
  align-items: center;
  height: 5%;
}

/* התוכן בתוך ה-toolbar */
.toolbar-content {
  display: flex;
  justify-content:center; /* מפריד בין הכפתורים */
  width: 100%;
}

/* עיצוב האייקונים */
mat-icon {
  margin-right: 8px;
}

/* קישורים בפסיקי פעיל */
.navbar a.active {
  color: #000000; /* צבע חזק כשיש קישור פעיל */
  text-decoration: none; /* ללא קו תחתון */

}

/* צבע בעת ריחוף */
.navbar a:hover {
  color: #6a6a6a; /* צבע צהוב בהדגשה בעת ריחוף */
  text-decoration: none; /* ללא קו תחתון */

}

/* עיצוב הכפתורים */
mat-button {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  text-transform: none;
  text-decoration: none; /* ללא קו תחתון */

}

/* עיצוב של הכפתור עם ריחוף */
mat-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* התאמת רוחב הכפתור */
.navbar a {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  text-decoration: none; /* ללא קו תחתון */

}
